/* config.css */


/* helpers/align.css */

.align {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* helpers/grid.css */

.grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    max-width: 20rem;
    width: 90%;
}


/* helpers/hidden.css */

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/* helpers/icon.css */

.icons {
    display: none;
}

.icon {
    display: inline-block;
    fill: #606468;
    font-size: 16px;
    font-size: 1rem;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}


/* layout/base.css */

* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    color: #606468;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}


/* modules/anchor.css */

a {
    color: rgb(40, 131, 167);
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}


/* modules/form.css */

input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

input[type='submit'],
input[type='button'] {
    cursor: pointer;
}

.form {
    margin: -14px;
    margin: -0.875rem;
}

.form input[type='password'],
.form input[type='text'] {
    width: 150%;
}

.form input[type='submit'],
.form input[type='button'] {
    width: -webkit-fill-available;
}

.form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 14px;
    margin: 0.875rem;
}

#container1 {
    width: -webkit-fill-available;
}

#container2 {
    width: -webkit-fill-available;
}

.form__input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


/* modules/login.css */

.login {
    color: #ffffff;
}

.login label,
.login input[type='text'],
.login input[type='password'],
.form input[type='submit'],
.form input[type='button'] {
    border-radius: 0.25rem;
    padding: 16px;
    padding: 1rem;
}

.login label {
    background-color: #363b41;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 20px;
    padding-left: 1.25rem;
    padding-right: 20px;
    padding-right: 1.25rem;
}

.head {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    max-width: 20rem;
    width: 90%;
    text-align: center;
}

.login input[type='password'],
.login input[type='text'] {
    background-color: #ffffff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom: 1px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom: outset;
    color: #606468;
}

.login input[type='password']:focus,
.login input[type='password']:hover,
.login input[type='text']:focus,
.login input[type='text']:hover {
    /* background-color: #b3b3b3; */
    border-color: rgb(42, 0, 194);
    color: #363b41;
}

.form input[type='submit'],
.form input[type='button'] {
    background-color: #4AB3EF;
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
}

.login input[type='submit']:focus,
.login input[type='submit']:hover,
.login input[type='button']:focus,
.login input[type='button']:hover {
    background-color: rgb(2, 105, 165);
}


/* modules/text.css */

p {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    margin-top: 24px;
    margin-top: 1.5rem;
}

.buttons {
    display: flex;
    width: -webkit-fill-available;
    text-align: center;
}

.text--center {
    text-align: right;
}

.invalid-cred {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    max-width: 20rem;
    width: 90%;
    text-align: center;
    border: solid;
    border-color: rgb(189, 58, 58);
    background-color: rgb(189, 58, 58);
    /* text-decoration-color: white; */
    -webkit-text-fill-color: antiquewhite;
    border-radius: 0.25rem;
}