<div id="container">
    <div> 
        <div class="imageContainer">
            <img class="img_container" [src]="imageUrl">
        </div>
        <div class="editPicture">
            <button class="edit_picture" mat-raised-button (click)="openDialog()">EDIT PICTURE</button>
        </div>
    </div>
    <form id="form" [formGroup] = "profileForm" (ngSubmit)="userDetails()">
        <div id="Name">
            <input class="name" type="text" [(ngModel)] = "FullName"  id="userName" formControlName = "fullName" [ngClass] = "{'is-invalid': submitted && fval.fullName.errors}" >
            <div *ngIf="submitted && fval.fullName.errors" class="invalid-feedback">
                <div *ngIf="fval.fullName.errors.required">Name is required</div>
            </div>
        </div>
        <div id="Email">
            <input class="email" type="email" formControlName = "email" [(ngModel)] = "Email" id="Email_id"  [ngClass] = "{'is-invalid': submitted && fval.email.errors}" >
            <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                <div *ngIf="fval.email.errors.required">Email is required</div>
                <div *ngIf="fval.email.errors.email">Enter the valid email address</div>
            </div>
        </div>
        <div id="PhoneNo">
            <input class="phno" type="number" [(ngModel)] = "Phone" id="phone" formControlName = "phone">
        </div>
        
        <div id="Gender">
            <select class="gender" formControlName = "gender" required  [(ngModel)] = "Gender">
                <option  [ngValue] = "Gender" disabled selected hidden >{{Gender}}</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
     

        <div id="City">
            <select class="city" formControlName = "city" required   [(ngModel)] = "City">
                <option  [ngValue] = "City" disabled selected hidden >{{City}}</option>
                <option value="mangalore">Mangalore</option>
                <option value="bangalore">Bangalore</option>
                <option value="mysore">Mysore</option>
            </select>
        </div>
        <div id="Save">
            <button class="save" type="submit" >SAVE</button>
        </div>
    </form>
</div>